
body{
	background-image: url("../img/red.png");
}

.text-hallo{
	padding-top: 10px;
	background-color:rgba(255, 255, 255, 0.56); 
	height:relative; 
	width: relative;
	margin:auto;
	text-align: center;
	font-family: arial;
	margin-top: 50px;
	
	

}

